::selection {
  background: #FF5E99;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;
  max-height: 100vh;
}
#container {
  padding: .1em 1.5em 1em 1em;
}
#container output {
  clear: both;
  width: 100%;
}
#container output h3 {
  margin: 0;
}
#container output pre {
  margin: 0;
}
.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.prompt {
  white-space: nowrap;
  color: #96b38a;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}
.ls-files {
  height: 45px;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  -o-column-width: 100px;
  column-width: 100px;
}

.ll-files span {
  margin-right: 20px;
  text-align: right;
  display: inline-block;
  min-width: 20px;
}

.ll-size {
  min-width: 30px !important;
}

.ll-mon {
  margin-right: 5px !important;
}
.ll-day {
  margin-right: 10px !important;
}

.file-color {
  color: white;
}

.folder-color {
  color: aqua;
}

.sh-color {
  color: red;
}

.man-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
}

.man-heading {
  color: aqua;
  margin-top:10px;
}

.man-text {
  margin-left: 30px;
  max-width:770px;
}

.man-highlight {
  color: aqua;
}

marquee {
  margin:15px 0px;
}
